.batch-cards-container {
  width: 90%;
  min-height: 60vh;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 22rem);
  grid-gap: 10px;
  justify-content: center;
  align-content: flex-start;
  text-align: center;
}

