.chat-wrapper {
  width: 30%;
  bottom: 9rem;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1rem;
  background: #ebebeb;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 2rem 0 0 2rem;
  z-index: 25;
  overflow: auto;
  opacity: 1;
  animation: appear 1s linear 1;
}

.chat-wrapper-closed {
  width: 0;
  bottom: 9rem;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 1rem;
  background: #ebebeb;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 2rem 0 0 2rem;
  z-index: 25;
  overflow: auto;
  opacity: 0;
  animation: disappear 1s linear 1;
}

.chat-wrapper-invisible {
    display: none;
    opacity: 0;
}

#messages-wrapper {
  width: 100%;
  height: 50vh;
  background: #fff;
  overflow-y: auto;
}

#form {
  padding: 0.25rem;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
}

.chat-input-wrapper {
  width: 100%;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
}

#chat-input {
  width: 80%;
  padding: 0.5rem;
  font-size: 1.5rem;
}

.chat-input:focus {
  outline: #ebebeb;
}

#button {
  background: #f8485e;
  border: none;
  padding: 0.6rem;
  margin: 0.25rem;
  border: 1px solid #f8485e;
  border-radius: 0.5rem;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
}

#button:hover {
  background: #fff;
  color: #f8485e;
  border: 1px solid #f8485e;
}

.chat-message {
  width: 90%;
  margin: 0 auto 2rem auto;
  padding: 0.5rem 1rem;
  overflow: auto;
  border: 1px solid #007895;
  border-radius: 0 1rem 1rem 1rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.329);
  font-size: 1.5rem;
  font-weight: 400;
}

#chat-username {
  font-size: 1.7rem;
  font-weight: 600;
  color: #007895;
}

#chat-window-button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  padding: 1rem;
  background-color: #fff;
  border: 2px solid rgb(99, 99, 99);
  border-radius: 3rem;
  color: rgb(99, 99, 99);
  z-index: 10;
}

@keyframes disappear {
  0% {
    width: 30%;
    opacity: 1;
  }
  50% {
    width: 20rem;
  }
  100% {
    width: 0;
    display: none;
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    width: 0;
    display: none;
  }
  50% {
    width: 20rem;
  }
  100% {
    width: 30%;
    opacity: 1;
  }
}


@media (min-width: 320px) and (max-width: 575px) {
  .chat-wrapper {
    width: 90%;
    margin: 4rem auto;
    position: static;
    animation: none;
    border: none;
  }

  #chat-window-button {
    display: none;
  }

  #chat-input {
    width: 74%;
  }
}