.user-card {
  min-width: 30rem;
  min-height: 300px;
  margin: 3rem 1rem;
  background-color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 1rem;
  border: 3px solid #007895;
}

.user-card:hover {
  z-index: 10;
  transform: scale(1.04);
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

.user-card-img-wrapper {
  width: 60%;
  height: 50%;
  margin: 1rem auto;
  overflow: hidden;
}

.user-card-img {
  width: 100%;
}

.user-card-desc {
  color: grey;
  font-size: 18px;
  margin-top: 30px;
}

.user-card-btn {
  width: 10rem;
  height: 3rem;
  margin-top: 2rem;
  align-self: center;
  background-color: #f8485e;
  color: #fff;
  border: 2px solid #f8485e;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.user-card-btn:hover {
  background-color: #fff;
  color: #f8485e;
  transition: all 0.2s;
}
