.picture{
    height:400px;
    width:auto;
    margin:auto;
    margin-top:30px;
    background-size: contain;
    background-repeat:no-repeat;
    border-radius:5px;
}
.slide-container{
    border-radius:5px;
    max-width:550px;
    margin:auto;
}