.batch-card {
  width: 10%;
  min-width: 18rem;
  max-width: 30rem;
  text-align: center;
  margin: 2rem .5rem;
  padding: 0.5rem;
  border: 2px solid #007895;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 8px 0 rgb(122, 122, 122);
}

.batch-heading {
  color: #007895;
  font-size: 3rem;
}

.batch-date {
  font-size: 1.5rem;
}

.batch-card-btn {
  height: 3rem;
  width: 9rem;
  margin: 1rem auto;
  background-color: #f8485e;
  border: 2px solid #f8485e;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.batch-card-btn:hover {
  background-color: #fff;
  color: #f8485e;
  transition: all 0.2s;
}
