.batch-card {
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem .5rem;
  padding: 0.5rem;
  border: 2px solid #007895;
  border-radius: 0.5rem;
}

.batch-card:hover {
  box-shadow: 4px 4px 8px 0 rgb(122, 122, 122);
  transition: all .2s;
}

.batch-heading {
  color: #007895;
  font-size: 2.2rem;
}

.batch-date {
  font-size: 1.5rem;
}

.batch-card-btn {
  height: 2.6rem;
  width: 9rem;
  margin: 1rem auto;
  padding-top: .5rem;
  background-color: #f8485e;
  border: 2px solid #f8485e;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  text-decoration: none;
}

.batch-card-btn:hover {
  background-color: #fff;
  color: #f8485e;
  transition: all 0.2s;
}
