.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
}

.title {
  color: grey;
  font-size: 18px;
}
