.lang-selector {
  min-width: 8rem;
  height: 2rem;
  border: 1px solid #007895;
  font-size: 1.5rem;
  outline: none;
}

.user-dropdown {
  margin-top: 2.5rem;
  z-index: 30;
}

.dropdown-link {
  color: #007895;
  text-decoration: none;
  text-align: start;
}
