.form-content-container {
  width: 50%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 3px solid #007895;
  border-radius: 2rem;
  box-shadow: 6px 6px 10px rgb(82, 82, 82);
}

.form-heading {
  margin: 5rem 0;
  color: #007895;
  text-align: center;
  font-size: 4rem;
}

.form-input-container {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form-input-label {
  font-size: 3rem;
  font-weight: 500;
}

.form-input{
  width: 70%;
  height: 3rem;
  padding: .5rem;
  font-size: 2.3rem;
  border: 2px solid #007895;
  outline: none;
}

.form-input:hover {
  box-shadow: 2px 2px 5px rgb(82, 82, 82);
  transition: all .2s;
}

.form-btn {
    width: 12rem;
    height: 5rem;
    margin-top: 2rem;
    color: #fff;
    background-color: #F8485E;
    border: 2px solid #F8485E;
    border-radius: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all .2s;
    outline: none;
}

.form-btn:hover {
    box-shadow: 2px 2px 5px rgb(82, 82, 82);
}

.form-redirection {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-redirection-link {
  color: #000;
  text-decoration: none;
}

.form-redirection-link:hover {
  color: #007895;
  transition: all .2s;
}