.slide-container {
  min-height: 70rem;
  width: 75%;
  height:50%;
  margin: 9rem auto;
  overflow: hidden;
  border-radius:25px;
}

.each-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.slider-img {
  width: 100%;
  margin: 0 auto;
}
