.slide-container {
  min-height: 60rem;
  width: 70%;
  height:30%;
  margin: 9rem auto;
  overflow: hidden;
  border-radius:25px;
  
}

.each-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.slider-img {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  .slideshow-wrapper {
    max-height: 30rem;
    border-radius: 1rem;
    margin: 2rem auto;
  }

  .slide-container {
    width: 90%;
    min-height: 18rem;
    margin: 5rem auto;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .slideshow-wrapper {
    max-height: 40rem;
    border-radius: 1rem;
    margin: 2rem auto;
  }

  .slide-container {
    width: 90%;
    min-height: 18rem;
    margin: 5rem auto;
  }

}