.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
input{
  border-radius:5px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.modal{
  margin:auto;
  width:50%;
  border:solid 3px;
  border-radius:20px;
}
.Reg{
  text-align: center;
  margin:10px;
}

.registerbtn{
  margin-left:46%;
  padding:10px;
  border-radius:10px;
  background-color:#F8485E;
  border: #F8485E;
  color:white;
}