.footer {
  height: 8vh;
  min-height: 15rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #ebebeb;
  box-shadow: 0 -4px 4px 0 rgb(172 172 172);
}

.footer-right,
.footer-left {
  width: 50%;
  height: inherit;
}
