.footer {
  height: 8vh;
  min-height: 15rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #3b3b3b;
  box-shadow: 0 -4px 4px 0 rgb(172 172 172);
  
}

.footer-right,
.footer-mid,
.footer-left {
  width: 70%;
  height: inherit;
  margin:5px;
  color:white;
}
a{
  color:white;
}
#left-header{
  font-weight: bolder;
  font-size:20px;
}
.left-part{
  margin-top:20px;
  display:grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: 50px;
}
#header-mid{
  font-weight: bolder;
  font-size:20px;
}

.mid-part{
  margin-top:20px;
  display:grid;
  grid-template-columns: 70px 70px 70px;
  
}

#right-header {
  font-weight: bolder;
  font-size: 20px;
}

.right-part {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 70px ;
   grid-template-rows: 30px 30px 30px;
 
}