.student-profile {
  width: 50%;
  max-width: 1300px;
  min-width: 300px;
  min-height: 10rem;
  margin: 5rem auto;
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ebebeb;
  border: 3px solid #007895;
  border-radius: 2rem;
}

/*---left wrapper---*/
.student-profile-left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.student-profile-name {
  margin: 2rem 0;
  font-size: 2.5rem;
}

.student-profile-img-wrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid #007895;
}

.student-profile-img {
  width: 100%;
  transform: scale(1.1);
}

/*---right wrapper---*/
.student-profile-info-container {
  width: 50%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.student-profile-info {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  font-size: 2.5rem;
}

/*--------------------*/
/*---Media queries----*/
/*--------------------*/

@media (min-width: 320px) and (max-width: 575px) {
  .student-profile {
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .student-profile-left {
    width: 50%;
  }

  .student-profile-info-container {
    width: 80%;
    margin: .5rem auto;
  }

  .student-profile-info {
    margin: .5rem 0;
    font-size: 1.4rem;
  }
}