.search-grid {
  width: 90%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 35rem);
  grid-gap: 10px;
  justify-content: center;
  align-content: flex-start;
  margin: 4rem auto;
  text-align: center;
}

.search-bar-wrapper {
  width: 80%;
  min-height: 6rem;
  background-color: #ebebeb;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #007895;
}

.search-bar-btn {
  height: 3rem;
  padding: .1rem .7rem;
  background-color: #fff;
  font-size: 2rem;
  font-weight: bold;
  color: #F8485E;
  border: 2px solid #F8485E;
  border-radius: 1rem;
  outline: none;
}

.search-bar-btn:hover {
  box-shadow: 2px 2px 5px rgb(82, 82, 82);
  transition: all .2s;
}

.reach-out-input {
  width: 40%;
  height: 2.4rem;
  margin: 0 1rem;
  padding: .4rem;
  font-size: 2rem;
}

.reach-out-select {
  min-width: 20%;
  margin: 0 1rem;
  height: 3rem;
  font-size: 2rem;
  border: 1px solid #007895;
}

.reach-out-option {
  font-size: 1.5rem;
}


.loader-wrapper-ro {
  min-height: 55vh;
}

@media (min-width: 320px) and (max-width: 575px) {

  .search-grid {
    display: flex !important;
    flex-direction: column;
  }

  .search-bar-wrapper {
    width: 90%;
    flex-wrap: wrap;
  }

  .reach-out-select {
    width: 40%;
    margin: 1rem;
    font-size: 1.5rem;
  }

  .search-bar-btn {
    margin: 1rem;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .search-grid {
    width: 95%;
    grid-template-columns: repeat(auto-fill, 25rem);
  }
  
  .search-bar-wrapper {
    width: 95%;
  }

  .reach-out-select {
    width: 35%;
  }
}