.search-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 35rem);
  grid-gap: 10px;
  justify-content: center;
  align-content: flex-start;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
