.search-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 35rem);
  grid-gap: 10px;
  justify-content: center;
  align-content: flex-start;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

.search-bar-wrapper {
  width: 90%;
  height: 6rem;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #007895;
}

.search-bar-btn {
  height: 3rem;
  padding: .1rem .7rem;
  background-color: #fff;
  font-size: 2rem;
  font-weight: bold;
  color: #F8485E;
  border: 2px solid #F8485E;
  border-radius: 1rem;
  outline: none;
}

.search-bar-btn:hover {
  box-shadow: 2px 2px 5px rgb(82, 82, 82);
  transition: all .2s;
}

.reach-out-input {
  width: 40%;
  height: 2.4rem;
  margin: 0 1rem;
  padding: .4rem;
  font-size: 2rem;
}

.reach-out-select {
  width: 20%;
  margin: 0 1rem;
  height: 3rem;
  font-size: 2rem;
  border: 1px solid #007895;
}

.reach-out-option {
  font-size: 1.5rem;
}
