.App {
    min-width: 320px;
}

/*--------------------*/
/*---Media queries----*/
/*--------------------*/

@media (min-width: 320px) and (max-width: 575px) {
  /*-----Header------*/

  .header-left {
    width: 100%;
    justify-content: center;
  }

  .header-logo {
    width: 9rem;
    height: 9rem;
  }

  /*--------------------*/
  .header-right {
    width: 100%;
  }

  .header-right-top-wrapper {
    justify-content: space-around;
  }

  .toggle-btn-wrapper {
    margin: 0;
  }

  .toggle-btn-desc {
    font-size: 1.3rem;
  }

  .switch {
    width: 45px;
    height: 24px;
  }

  .slider::before {
    width: 22px;
    height: 22px;
    left: 2px;
    bottom: 1px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .lang-selector {
      width: 6rem;
      height: 1.8rem;
    font-size: 1.3rem;
  }

  /*--------------------*/
  .header-right-bottom-wrapper {
    justify-content: space-around;
  }

  .nav-wrapper {
    width: 70%;
    margin: 0;
    padding-top: .5rem;
    justify-content: space-around;
    align-items: center;
  }

  .nav-item {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
  }

  .dropdown-item {
      padding: .8rem;
      font-size: 1.4rem;
  }

  .log-in-wrapper {

}

.user-profile-img {
    width: 2.5rem;
    height: 2.5rem;
}

.dropdown {
    margin-top: 2rem;
}
 
}


@media (min-width: 575px) and (max-width: 767px) {
  /*-----Header------*/
  .header-left {
    width: 100%;
  }

  .header-right {
    width: 100%;
  }

  .header-right-top-wrapper {
    justify-content: center;
  }

  .nav-wrapper {
    width: 80%;
    margin: 0;
  }

  .nav-item {
    font-size: 2.5rem;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  /*-----Header------*/
  .header-left {
    width: 100%;
  }

  .header-right {
    width: 100%;
  }

  .header-right-top-wrapper {
    justify-content: center;
  }

  .nav-wrapper {
    width: 70%;
    margin: 0 5%;
  }

  .nav-item {
    padding: 1rem;
  }
}

@media (min-width: 991px) and (max-width: 1311px) {
  /*-----Header------*/
  .header-left {
    width: 25%;
    margin-left: 5%;
  }

  .landing-page-heading {
    font-size: 6.5rem;
  }

  .header-right-top-wrapper {
    padding-top: 1.5rem;
  }

  .nav-wrapper {
    width: 80%;
    margin: 0;
  }
  
  .nav-item {
    padding-top: 4.1rem;
  }

  .user-profile-img {
    margin-top: 4.5rem;
  }

  .user-dropdown {
    margin-top: 5.7rem;
  }
}

@media (min-width: 1311px) {
}
