.landing-page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", "Roboto", sans-serif;
}

.landing-page-content-wrapper {
    width: 100%;
    height: 40vh;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-page-content-wrapper2 {
    width: 100%;
    height: 40vh;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0.5;
}


.landing-page-subheading {
    font-size: 3rem;
    font-weight: 300;
}

.landing-page-heading {
    font-size: 5rem;
    color: #007895;
    letter-spacing: .2rem;
}

.lighter-font {
    font-weight: 300;
}

.landing-page-btn-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.log-in-btn,
.register-btn {
    width: 10rem;
    height: 4rem;
    margin: 2rem 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
    transition: all .2s;
}

.log-in-btn {
    color: #fff;
    background-color: #F8485E;
    border: 2px solid #F8485E;
}

.register-btn {
    color: #F8485E;
    background-color: #fff;
    border: 2px solid #F8485E;
}


.log-in-btn:hover,
.register-btn:hover {
    box-shadow: 2px 2px 5px rgb(82, 82, 82);
}



.modal{
    position:absolute;
    top:100px;
    left:30%;
    
}