.landing-page-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Rubik", "Roboto", sans-serif;
}

.landing-page-lang-wrapper {
    width: 95%;
    margin: 2rem 2.5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.landing-page-content-wrapper {
    width: 100%;
    height: 30vh;
    min-height: 25rem;
    margin: 15% 0;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    border-top: 2px solid #007895;
    border-bottom: 2px solid #007895;
}

.landing-page-subheading {
    font-size: 3.5rem;
    font-weight: 300;
}

.landing-page-heading {
    margin: 1.5rem 0;
    font-size: 8rem;
    color: #007895;
    letter-spacing: .2rem;
}

.lighter-font {
    font-weight: 300;
}

.landing-page-btn-wrapper {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.log-in-btn,
.register-btn {
    width: 14rem;
    height: 4rem;
    margin: 2rem 1rem;
    padding-top: .5rem;
    border-radius: 1rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all .2s;
    outline: none;
}

.log-in-btn {
    color: #fff;
    background-color: #F8485E;
    border: 2px solid #F8485E;
}

.register-btn {
    color: #F8485E;
    background-color: #fff;
    border: 2px solid #F8485E;
}


.log-in-btn:hover,
.register-btn:hover {
    box-shadow: 2px 2px 5px rgb(82, 82, 82);
}
